NODE_ENV="development"
JWT_SECRET="clavesupersecreta"
JWT_RESET_TOKEN_SECRET="clavemegasecreta"
PORT=3000
NEXT_PUBLIC_API_URL=""
PRISMA_LOGS=false
# Connect to Supabase via connection pooling
DATABASE_URL=""
# Direct connection to the database. Used for migrations
DIRECT_URL=""

SGMAIL_TOKEN=""